.book-flight-container {
  max-width: 500px;
  background: #003366, #00509e;
  margin: 100px auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

.flight-summary {
  margin-bottom: 1.5rem;
  text-align: left;
  font-size: 1rem;
  color: var(--text);
  line-height: 1.5;
}

.booking-form input {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.booking-form button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.booking-form button:hover {
  background: #003366, #00509e;
}

.no-flight-msg {
  margin: 120px auto;
  text-align: center;
  font-size: 1.2rem;
  color: red;
}
